@model List<Service>
@{
    ViewData["Title"] = "Index";
}

<h1>Hizmetler Listesi</h1>

<table class="table table-bordered ">
    <thead class="">
        <tr class="text-white bg-danger">
            <th>#</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody class="t">

        @foreach (var item in Model)
        {
            <tr class="text-white bg-dark">
                <td>@item.ServiceId</td>
                <td>@item.Title</td>
            </tr>
        }
    </tbody>
</table>